*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

.main_text ul li {

	padding:0 0 0 0;	

	margin:0 0 0 0;	

}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd,
section,
header {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

body{
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 16pt;
    margin-left: 40;
    margin-right: 40;
	color: #2b0614;
}
section{
    margin-top: 70px;
}
h1, h2, h3{
    text-align: center;
}
.cover{
    width: 100%;
    height: 200px;
}
.photo{
    width: 20%;
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto; 
}
.icon{
    width: 50px;
}
#grid { 
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
.center{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-content: center;
    flex-wrap: wrap;
}
.flex { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
.flex > div {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
}
.flex > ul {
    text-align: left;
    margin-left: auto -2px;
    margin-right: auto;
    max-width: 400px;
}
li {
    list-style-type: none; 
   }
li:before {
    content: "â¤ ";
   }
.flex2 { 
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}
.flex2 > div {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
}

.row{
    max-width: 650px;
    text-align: left;
}